:root {
  --content-width: 100%;
}
section {
  margin-top: 20px;
}
i-button {
  margin-right: 10px;
  margin-bottom: 10px;
}

// table{
//   width: 100%;
//   border-collapse: collapse;
// }
// table,tr,th,td{
//   text-align: center;
//   border: 1px solid;
// }